---
layout: default
title: Blog
permalink: /blog/
---

<main class="main main-page">
  <div class="page-head">
    <h1>Blog</h1>
    <p class="page-desc">検証記録や作ったものの解説を書いています。</p>
  </div>

  <div class="post-list">
    {% for post in site.posts %}
    <div class="post-item">
      <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      {% if post.category %}
      <span class="post-cat cat-{{ post.category }}">{{ site.data.categories[post.category].label }}</span>
      {% endif %}
      <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </div>
    {% endfor %}
  </div>
</main>
